@media screen (min-width: 200px) and (max-width: 400px) {
}

section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  background-color: red;
  min-width: 300px;
  height: 300px;
}

/* monile device */
@media screen and (min-width: 320px) {
  div {
    background-color: green;
    min-width: 290px;
    height: 150px;
  }
}

/* smasung screen fold */
@media (min-width: 520px) and (min-width: 550px) {
  div {
    background-color: orange;
    min-width: 200px;
    height: 200px;
    transform: rotate(30deg);
  }
}

/* tablets */
@media screen and (min-width: 600px) {
  div {
    background-color: orange;
    min-width: 200px;
    height: 200px;
    transform: rotate(30deg);
  }
}

@media screen and (min-width: 769px) {
  div {
    background-color: pink;
    min-width: 100px;
    height: 100px;
    transform: rotate(0deg);
  }
}

/* small desktop */
/* @media screen and (max-width: 1024px) {
  div {
    background-color: pink;
    min-width: 100px;
    height: 100px;
  }
} */

/* tablets */
/* @media (min-width: 426px) and (max-width: 768px) {
  div {
    background-color: orange;
    min-width: 200px;
    height: 200px;
    transform: rotate(30deg);
  }
} */

/* monile device */
/* @media screen and (max-width: 425px) {
  div {
    background-color: green;
    min-width: 150px;
    height: 150px;
  }
} */
